/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    background-color: #121212;
    color: white;

    --background-color: #444;
    --text-color: #ddd;
    --input-background-color: #333;
    --input-border-color: #555;
    --input-focus-border-color: #888;
    --submit-btn-bg-color: #555;
    --submit-btn-hover-bg-color: #777;
    --popup-background-color: white;
    --popup-text-color: #333;
    --popup-subtext-color: #555;
    --popup-button-bg-color: #007BFF;
    --popup-button-hover-bg-color: #0056b3;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --box-shadow-hover-color: rgba(0, 0, 0, 0.2);
}

body.light-theme {
    --background-color: #f9f9f9;
    --text-color: #333;
    --input-background-color: #fff;
    --input-border-color: #ccc;
    --input-focus-border-color: #007BFF;
    --submit-btn-bg-color: #007BFF;
    --submit-btn-hover-bg-color: #0056b3;
    --popup-background-color: #fff;
    --popup-text-color: #333;
    --popup-subtext-color: #555;
    --popup-button-bg-color: #007BFF;
    --popup-button-hover-bg-color: #0056b3;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --box-shadow-hover-color: rgba(0, 0, 0, 0.2);
}

html {
    scroll-behavior: smooth;
}


header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}

/* Hero Section */
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    text-align: center;
}

body.dark-theme .hero-section {
    background-color: #282c34; /* Dark background */
    color: white; /* Default text color */
}

body.light-theme .hero-section {
    background-color: #f4f4f4; /* Light background */
    color: #333; /* Dark text color */
}

h1 {
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin-top: 1rem;
}

#typed-text {
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    color: #00FFFF; /* Cyan color for text */
    transition: color 0.5s ease;
}

body.light-theme #typed-text {
    color: #ff6347; /* Tomato color in light theme */
}

/* ICONS */
/* Common styles for social icons and resume button */
/* Common styles for social icons and resume button */
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #00FFFF; /* Cyan color on hover */
}

.resume-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: transparent; /* Transparent background */
    color: #00FFFF !important; /* Cyan text color */
    border: 2px solid #00FFFF !important; /* Cyan border */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    overflow: hidden; /* Ensure the icon stays within the button */
    transition: color 0.3s ease, background-color 0.3s ease;
    text-align: center;
}

/* Resume button text visibility */
.resume-btn span {
    display: block;
    transition: opacity 0.3s ease; /* Smooth transition */
}

/* Hide the text on hover */
.resume-btn:hover span {
    opacity: 0; /* Hide text on hover */
}

/* FontAwesome download icon */
.resume-btn::before {
    content: "\f019"; /* FontAwesome download icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.2rem;
    color: #00FFFF !important; /* Cyan icon color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the icon */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease;
}

/* Show icon on hover */
.resume-btn:hover::before {
    opacity: 1; /* Show icon on hover */
}

/* Dark mode styles */
.dark-mode-icons a {
    color: #fff; /* White color for dark mode */
}

.dark-mode-icons .resume-btn {
    color: #00FFFF !important; /* Cyan text color for dark mode */
    border-color: #00FFFF !important; /* Cyan border for dark mode */
}

.dark-mode-icons .resume-btn::before {
    color: #00FFFF !important; /* Cyan icon color for dark mode */
}

/* Light mode styles */
.light-mode-icons {
    display: none; /* Hide light mode icons by default */
}

body.light-theme .light-mode-icons {
    display: flex; /* Show light mode icons in light theme */
}

body.light-theme .dark-mode-icons {
    display: none; /* Hide dark mode icons in light theme */
}

.light-mode-icons a {
    color: #121212; /* Dark color for light mode */
}

.light-mode-icons .resume-btn {
    color: #121212 !important; /* Dark text color for light mode */
    border-color: #121212 !important; /* Dark border for light mode */
}

.light-mode-icons .resume-btn::before {
    color: #121212 !important; /* Dark icon color for light mode */
}






section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

#home {
    text-align: center;
}

#home h1 {
    margin: 10px 0;
}

#home p {
    font-size: 1.2em;
}

#home div a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

#home div a:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.hamburger span {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
}

/* Hire Me Form Styles */
/* Form Styles */
#hireMeForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 10px 15px var(--box-shadow-color);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#hireMeForm:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 20px var(--box-shadow-hover-color);
}

body.light-theme #hireMeForm {
    background-color: var(--background-color);
    box-shadow: 0 10px 15px var(--box-shadow-color);
}

body.light-theme #hireMeForm:hover {
    box-shadow: 0 15px 20px var(--box-shadow-hover-color);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 95%;
    padding: 10px;
    background-color: var(--input-background-color);
    color: var(--text-color);
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

body.light-theme .form-group input,
body.light-theme .form-group textarea {
    background-color: var(--input-background-color);
    border-color: var(--input-border-color);
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 10px rgba(136, 136, 136, 0.5);
}

body.light-theme .form-group input:focus,
body.light-theme .form-group textarea:focus {
    border-color: var(--input-focus-border-color);
}

.submit-btn {
    display: inline-block;
    background-color: var(--submit-btn-bg-color);
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

body.light-theme .submit-btn {
    background-color: var(--submit-btn-bg-color);
}

.submit-btn:hover {
    background-color: var(--submit-btn-hover-bg-color);
    transform: scale(1.05);
}

body.light-theme .submit-btn:hover {
    background-color: var(--submit-btn-hover-bg-color);
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: var(--popup-background-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
    box-shadow: 0 10px 20px var(--box-shadow-hover-color);
}

.popup-content h2 {
    color: var(--popup-text-color);
    margin-bottom: 10px;
}

.popup-content p {
    color: var(--popup-subtext-color);
    margin-bottom: 20px;
}

.popup-content button {
    background-color: var(--popup-button-bg-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.popup-content button:hover {
    background-color: var(--popup-button-hover-bg-color);
    transform: scale(1.05);
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}




/* Responsive Menu */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    #nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
        padding: 20px 0;
        transition: max-height 0.5s ease;
        overflow: hidden;
        max-height: 0;
    }

    body.light-theme #nav-links{
        background-color: white;
    }

    #nav-links.active {
        display: flex;
        max-height: 300px; /* Adjust based on the number of links */
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* Theme Toggle */
.theme-toggle {
    position: absolute;
    right: 20px;
    top: 5px; /* Center the button vertically in the header */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

.theme-toggle:hover {
    transform: rotate(20deg);
}

/* Dark and Light Theme */
body.light-theme {
    background-color: #f4f4f4;
    color: #333;
}

body.light-theme header {
    background-color: #fff;
    color: #333;
}

body.light-theme nav ul li a {
    color: #333;
}

body.light-theme nav ul li a:hover {
    color: #666;
}

body.light-theme section {
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.light-theme #home div a {
    background-color: #fff;
    color: #333;
}

body.light-theme #home div a:hover {
    background-color: #ddd;
}

body.light-theme footer {
    background-color: #fff;
    color: #333;
}

body.light-theme .theme-toggle {
    color: #333;
}

body.light-theme .hamburger span {
    background-color: #333; /* Make sure the hamburger lines are visible in light mode */
}

/* Smooth transition */
body, section, nav ul li a, footer, #home div a {
    transition: background-color 0.5s ease, color 0.5s ease;
}

#nav-links {
    transition: max-height 0.5s ease-in-out;
}

/* Base Styles for the Projects Section */
#projects {
    background-color: #333;
    color: var(--projects-text-color);
}

#projects h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--projects-title-color);
}

#projects h3 {
    font-size: 1.5em;
    margin-top: 20px;
    color: var(--projects-subtitle-color);
}

#projects p {
    margin-bottom: 10px;
    color: var(--projects-text-color);
}

/* Link Styles */
#projects a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: var(--link-background-color);
    color: var(--link-text-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

#projects a:hover {
    background-color: var(--link-hover-background-color);
    color: var(--link-hover-text-color);
    transform: scale(1.05);
}

/* Dark Mode Variables */
body.dark-theme #projects {
    --projects-background-color: #222;
    --projects-text-color: #ddd;
    --projects-title-color: #fff;
    --projects-subtitle-color: #aaa;
    --link-background-color: #dddddd;
    --link-text-color: #fff;
    --link-hover-background-color: #777;
    --link-hover-text-color: #fff;
}

/* Light Mode Variables */
body.light-theme #projects {
    --projects-background-color: #f9f9f9;
    --projects-text-color: #333;
    --projects-title-color: #000;
    --projects-subtitle-color: #555;
    --link-background-color: #007BFF;
    --link-text-color: #fff;
    --link-hover-background-color: #0056b3;
    --link-hover-text-color: #fff;
}
